@import url('https://fonts.googleapis.com/css?family=Farro&display=swap');

.counter {
    max-width: 500px;
    margin: 0 auto;
    font-family: 'Farro', sans-serif;
    font-size: 1.7rem;
    .coins {
        display: flex;
        flex-wrap: wrap;
        .add-coin{
            padding: 10px 0;
            width: 33%;
            .add{
                button {
                    background-color: transparent;
                    width: 100px;
                    height: 100px;
                    border: 0px;
                    outline: none;
                    cursor: pointer;
                    transition: .5s all ;
                    -webkit-tap-highlight-color: rgba(0,0,0,0);
                    &:active{
                        width: 120px;
                    }
                    img {
                        max-width: 100%;
                        display: block;
                        height: auto;
                    }
                }
            }

            .details {
                display: flex;
                justify-content: space-between;
                align-items: center;
                max-width: 100px;
                margin: 0 auto;
                div {
                    display: inline-block;
                    &:last-child {
                        cursor: pointer;
                        color: red;
                    }
                }
               
            }
        }
    }
    hr {
        border-top: 3px solid;
        border-radius: 100%;
    }
    .sum {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        h2 {
            margin: 0;
        }
        .reset {
            cursor: pointer;
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            transition: 1s all;
            &:active{
                transform: rotate(360deg);
            }
            img {
                width: 48px;
            }
        }
    }
}

@media (max-height: 300px) {
    .counter {
        max-width: 100%;
        .coins {
            .add-coin {
                width: 20%;
                display: flex;
                .add {
                    width: 60%;
                    button {
                        width: 70px;
                        height: 70px;
                        &:active{
                            width: 90px;
                        }
                        img {
                            
                        }
                    }
                }
                .details {
                    flex-direction: column;
                }
            }
        }
        hr {
            margin:0;
        }
        .sum {
            padding-top: 10px;
        }
    }
}