@import url('https://fonts.googleapis.com/css?family=Farro&display=swap');

.counter {
    max-width: 500px;
    margin: 0 auto;
    font-family: 'Farro', sans-serif;
    font-size: 1.7rem;
    .coins {
        display: flex;
        flex-wrap: wrap;
        .add-coin{
            padding: 10px 0;
            width: 33%;
            button {
                background-color: transparent;
                width: 100px;
                height: 100px;
                border: 0px;
                outline: none;
                cursor: pointer;
                transition: .5s all ;
                -webkit-tap-highlight-color: rgba(0,0,0,0);
                &:active{
                    width: 120px;
                    // transform: rotateY(360deg);
                }
                img {
                    max-width: 100%;
                    display: block;
                    height: auto;
                }
            }
            .details {
                display: flex;
                justify-content: space-between;
                align-items: center;
                max-width: 100px;
                margin: 0 auto;
                div {
                    display: inline-block;
                    &:first-child {
                        // margin-right: 5%;
                       
                    }
                    &:last-child {
                        cursor: pointer;
                        color: red;
                    }
                }
               
            }
        }
    }
    hr {
        border-top: 3px solid;
        border-radius: 100%;
    }
    .sum {
        h2 {
            margin: 0;
        }
    }
}